body {
  font-family: "Urbanist", sans-serif;
}
.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.submitButton {
  margin-top: 1rem;
  border-radius: 8px;
  width: 100%;
  font-family: "Urbanist", sans-serif;
  border: none;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}

.submitButton:hover {
  background-color: #FF6700;
  color: white;
  font-weight: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 12rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: #EBEBEB;
  padding: 30px;
}

input {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  border: none;
  font-family: "Urbanist", sans-serif;
  line-height: 40px;
  border-radius: 8px;
  font-size: 20px;
}

.label {
  color: #FF6700;
  font-size: 32px;
  font-weight: bold;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
